# macOS
.DS_Store

# Node modules
node_modules/

# Build outputs
dist/
index/
combined.js

# Project-specific stuff!
.ashproject

plugins/*
!plugins/add-log.js

src/*
!src/example.js

assets/*
!assets/ash.svg
!assets/black-ash.svg
!assets/white-ash.svg

lib/*
!lib/aea.js
!lib/aes256.js
!lib/bema.js
!lib/commands.js
!lib/openbundles.js
